{% extends 'base.html' %} {% block content %}
<h3>welcome {{request.user}}!</h3>
{% if restras %}
<div class="mb-5 mt-5">
  <h5>Top Restaurants</h5>
  <div class="d-flex">
    {% for restra in restras %}
    <div class="card mx-1" style="width: 13rem">
      <a
        href="{% url 'buyer:restra-detail' restra.id %}"
        style="text-decoration: none; color: black"
      >
        <div class="card-body">
          <h6 class="card-title">{{ restra.name }}</h6>
          <small class="card-text"
            >{{ restra.ratings }} &nbsp;<i
              class="fa fa-star"
              aria-hidden="true"
            ></i
          ></small>
          <p class="card-text">
            <small class="text-muted">{{ restra.desc|truncatewords:10 }}</small>
          </p>
        </div>
      </a>
    </div>
    {% endfor %}
  </div>
</div>
{% endif %} {% if more_restras %}
<h5>Some More Restaurants</h5>
<div class="d-flex">
  {% for restra in more_restras %}
  <div class="card mx-1" style="width: 13rem">
    <a
      href="{% url 'buyer:restra-detail' restra.id %}"
      style="text-decoration: none; color: black"
    >
      <div class="card-body">
        <h6 class="card-title">{{ restra.name }}</h6>
        <small class="card-text"
          >{{ restra.ratings }} {% if restra.ratings %}
          <i class="fa fa-star" aria-hidden="true"></i>
          {% endif %}
        </small>
        <p class="card-text">
          <small class="text-muted">{{ restra.desc|truncatewords:10 }}</small>
        </p>
      </div>
    </a>
  </div>
  {% endfor %}
</div>
{% endif %} {% endblock content %}
